* {
	margin: 0px;
	padding: 0px;
}
header {
	display: block;
	background-color: lightgrey;
	padding: 20px;
}
#logo {
	display: block;
	height: 150px;
	width: 150px;
	background-color: #996699;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	
	padding: 10px 20px;
	border: 1px solid grey;
}